<div class="absolute start-[10%] z-0">
    <div class="pointer-events-none aspect-square w-60 rounded-full
    bg-gradient-to-r from-primary/10 via-violet-500/10
    to-purple-500/10 blur-3xl [transform:translate3d(0,0,0)] lg:w-[600px]"></div>
</div>

<div class="container">
    <div class="flex flex-col items-center">
        <h2 class="inline text-4xl font-semibold">Nosotros</h2>

        <!-- TODO: Reemplazar Lorem Ipsum -->
        <p class="mt-4 text-lg sm:text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque faucibus suscipit aliquam.
        </p>
    </div>

    <div class="relative z-[2] mt-8 grid gap-8 lg:mt-20 lg:grid-cols-2 lg:gap-12">
        <div class="rounded-2xl bg-gradient-to-r from-secondary to-primary p-3">
            <img
                alt="mission img"
                class="overflow-hidden rounded-lg"
                src="~/images/wireframe.png"/>
        </div>

        <div class="lg:mt-8">
            <h3 class="mt-2 text-3xl font-semibold">Misión</h3>
            <ul class="mt-4 list-inside list-disc text-base">
                <li>Misión #1</li>
                <li>Misión #2</li>
                <li>Misión #3</li>
                <li>Misión #4</li>
            </ul>
        </div>
    </div>

    <div class="mt-8 grid gap-8 lg:mt-20 lg:grid-cols-2 lg:gap-12">
        <div>
            <h3 class="mt-2 text-3xl font-semibold">Visión</h3>
            <ul class="mt-4 list-inside list-disc text-base">
                <li>Visión #1</li>
                <li>Visión #2</li>
                <li>Visión #3</li>
                <li>Visión #4</li>
            </ul>
        </div>

        <div class="order-first lg:order-last">
            <div class="rounded-2xl bg-gradient-to-r from-secondary to-primary p-3">
                <img
                    alt="vision img"
                    class="overflow-hidden rounded-ss-lg"
                    src="~/images/wireframe.png"/>
            </div>
        </div>
    </div>
</div>

