<div class="container">
    <div class="grid gap-6 md:grid-cols-5">
        <!--
        <div class="md:col-span-3">
            <h1 class="text-3xl font-black tracking-tighter lg:text-5xl lg:leading-none">
                Encuentra un tutor
            </h1>
            <p class="mt-8 text-lg">
                Resuelve tus dudas, y
                <span class="text-primary">prepárate para brillar</span> en cada materia.
            </p>
            <form hx-get="@Url.Action("Search", "Home")"
                  hx-target="#htmx-main"
                  class="items-stretch">
                <div class="mt-16 flex gap-4">
                    <div class="form-control w-full">
                        <input autocomplete="topic" type="text"
                               id="search_topic" name="search_topic"
                               class="input input-bordered input- w-full input-sm md:input-md"
                               placeholder="Escribe un tópico para encontrar un tutor"
                               required />
                    </div>
                    <div class="form-control m-auto">
                        <button id="search_btn" type="submit" class="btn btn-primary btn-sm md:btn-md">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
-->
        <div class="md:col-span-5">
            <div class="rounded-2xl bg-gradient-to-r from-secondary to-primary p-3 justify-self-center"
                 data-card3d-full-page-listening="true">
                <img alt="knowledge share"
                     class="rounded-lg overflow-hidden"
                     src="~/images/wireframe.png">/>
            </div>
        </div>
    </div>
</div>

