<div class="container">
  <div class="grid gap-12 lg:grid-cols-1">
    <div>
      <h1 class="text-4xl font-black tracking-tighter lg:text-6xl lg:leading-none">
        Nuestros métodos
      </h1>
      <p class="mt-8 text-lg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
        faucibus suscipit aliquam. Aliquam suscipit, quam in tristique tincidunt,
        leo enim porta augue, ac pellentesque ligula dui vel ligula. Aliquam laoreet
        ipsum in consectetur iaculis. Proin eleifend lectus eget euismod elementum.
        Donec enim orci, convallis a arcu id, tempor malesuada magna. Quisque diam
        sem, molestie sit amet dolor nec, convallis volutpat lorem. Sed gravida suscipit est.
        Integer imperdiet ullamcorper ligula. Sed eu turpis ut ante venenatis luctus.
        Sed erat enim, varius eu gravida eu, ultricies et augue. Quisque id fringilla nisl.
        Praesent dapibus quam aliquet, commodo quam non, aliquet lacus. Vestibulum id justo
        in orci malesuada finibus. Vivamus interdum euismod mattis. Sed vitae eleifend libero.
      </p>

      <p class="mt-8 text-lg">
        Sed lobortis ultrices nisl a suscipit. Nam maximus efficitur convallis.
        Duis scelerisque tempor faucibus. Maecenas pulvinar lorem in est lobortis,
        quis fringilla nibh posuere. Aenean tincidunt nibh sodales massa tristique,
        sed molestie ex fermentum. Vivamus vitae aliquet nunc. Curabitur vestibulum,
        tellus quis pretium facilisis, nunc elit porta augue, eu porttitor nibh ligula
        eget mi. Suspendisse tempus massa eget ante tincidunt, et vehicula ex varius.
        Ut efficitur finibus est ut semper. Phasellus semper sed ligula sit amet sodales.
        Etiam vestibulum commodo gravida. Morbi hendrerit quis urna ultrices venenatis.
        Donec vel odio bibendum, feugiat felis eu, ultrices dolor. Pellentesque a vulputate orci.
        Nam ut laoreet metus, ut ullamcorper metus. Pellentesque eget suscipit sapien, vitae elementum ante.
      </p>
    </div>
  </div>
</div>