@{

}
<div class="container">
    <div class="text-center">
        <h2 class="text-4xl font-semibold text-base-content">Política de Privacidad</h2>
    </div>

    <div class="mt-12 flex justify-center gap-6">
        <div class="space-y-4 lg:w-2/3">
            <div class="border border-base-content/10 p-4">
                <div class="card-title text-xl font-medium">
                    Tratamiento de datos personales
                </div>
                <p class="text-base">
                    Recopilamos datos personales relacionados con usted ("Datos personales") 
                    de la siguiente manera:
                </p>
                <p>
                    Datos personales que usted proporciona: recopilamos datos personales si crea una
                    cuenta para utilizar nuestros Servicios o se comunica con nosotros de la siguiente manera:
                </p>
                <p>
                    Información de la cuenta: cuando crea una cuenta con nosotros, recopilaremos 
                    información asociada con su cuenta, incluido su nombre, información de contacto, 
                    credenciales de la cuenta, fecha de nacimiento, información de pago e historial
                    de transacciones (colectivamente, "Información de la cuenta").                        
                </p>
                <p>
                    Contenido del usuario: recopilamos datos personales que usted proporciona al 
                    ingresar a nuestros Servicios (“Contenido”), incluidas sus indicaciones y otro
                    contenido que carga, como archivos, imágenes y audio, según las funciones que utilice.                        
                </p>
                <p>
                    Información de comunicación: si se comunica con nosotros, por ejemplo por 
                    correo electrónico o nuestras páginas en sitios de redes sociales,
                    podemos recopilar datos personales como su nombre, información de contacto 
                    y el contenido de los mensajes que envía ("Información de comunicación").                        
                </p>
                <p>
                    Otra información que usted proporciona: Recopilamos otra información que 
                    usted puede proporcionarnos, como cuando participa en nuestros eventos o 
                    encuestas o nos proporciona información para establecer su identidad o edad
                    (colectivamente, "Otra información que usted proporciona").                        
                </p>
            </div>
        </div>
    </div>
</div>
    
        


