<section class="py-5 lg:py-10 container items-center" id="tutor_card_001">
    <div class="card mb-1 shadow-sm bg-primary-content/10 w-full">
        <div class="card-body">
            <div class="grid grid-flow-row-dense md:grid-cols-2">
                <div class="col-span-1">
                    <div class="flex">
                        <div class="avatar mr-4">
                            <div class="w-24 h-24 rounded-full">
                                <a href="#">
                                    <img alt="populate_about_me" src="~/images/browser.png">
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="badge badge-secondary m-0">Nuevo</div>
                            <h3 class="text-xl font-bold mb-0">
                                <a href="#">Arnold Schwarzenegger</a>
                                <span title="Usuario Validado">
                                <i class="icon-check-circle text-sm text-secondary"></i>
                            </span>
                            </h3>
                            <div>
                                <h4 class="text-lg mb-0">
                                    <span>King of the world</span>
                                </h4>
                            </div>
                            <a href="#">
                            <span class="mt-0 text-neutral">
                                <span class="opinion-numeral font-weight-normal">15 opiniones</span>
                            </span>
                            </a>
                        </div>
                    </div>
                    <div class="my-2">
                        <div class="flex align-middle">
                            <div class="mr-1 py-0">
                                <i class="icon-magnet text-sm text-secondary"></i>
                            </div>
                            <div class="m-0">Magnetismo</div>
                        </div>
                        <div class="flex align-middle">
                            <div class="mr-1 py-0">
                                <i class="icon-lightbulb text-sm text-secondary"></i>
                            </div>
                            <div class="m-0">Electricidad</div>
                        </div>
                        <div class="flex align-middle">
                            <div class="mr-1 py-0">
                                <i class="icon-car text-sm text-secondary"></i>
                            </div>
                            <div class="m-0">Manejo</div>
                        </div>
                    </div>
                </div>
                <div class="place-content-center">
                    <div class="card-title place-content-center">Horarios</div>
                    <div class="text-base flex mt-4 font-mono">
                        <div id="d011" class="grow">
                            <div class="mb-4">Hoy</div>
                            <ul>
                                <li>09:00</li>
                                <li>10:00</li>
                                <li>11:00</li>
                                <li>12:00</li>
                                <li>13:00</li>
                                <li>14:00</li>
                                <li>15:00</li>
                                <li>16:00</li>
                                <li>17:00</li>
                                <li>18:00</li>
                            </ul>
                        </div>
                        <div id="d012" class="grow">
                            <div class="mb-4">Mañana</div>
                            <ul class="">
                                <li>09:00</li>
                                <li>10:00</li>
                                <li>11:00</li>
                                <li>12:00</li>
                                <li>13:00</li>
                                <li>14:00</li>
                                <li>15:00</li>
                                <li>16:00</li>
                                <li>17:00</li>
                                <li>18:00</li>
                            </ul>
                        </div>
                        <div id="d013" class="grow">
                            <div class="mb-4">DD+2</div>
                            <ul class="">
                                <li>09:00</li>
                                <li>10:00</li>
                                <li>11:00</li>
                                <li>12:00</li>
                                <li>13:00</li>
                                <li>14:00</li>
                                <li>15:00</li>
                                <li>16:00</li>
                                <li>17:00</li>
                                <li>18:00</li>
                            </ul>
                        </div>
                        <div id="d014" class="grow">
                            <div class="mb-4">DD+3</div>
                            <ul class="">
                                <li>09:00</li>
                                <li>10:00</li>
                                <li>11:00</li>
                                <li>12:00</li>
                                <li>13:00</li>
                                <li>14:00</li>
                                <li>15:00</li>
                                <li>16:00</li>
                                <li>17:00</li>
                                <li>18:00</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 lg:py-10 container items-center" id="tutor_card_002">
    <div class="card mb-1 shadow-sm bg-primary-content/10 w-full">
        <div class="card-body">
            <div class="grid grid-flow-row-dense md:grid-cols-2">
                <div class="col-span-1">
                    <div class="flex">
                        <div class="avatar mr-4">
                            <div class="w-24 h-24 rounded-full">
                                <a href="#">
                                    <img alt="populate_about_me" src="~/images/browser.png">
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="badge badge-secondary m-0">Nuevo</div>
                            <h3 class="text-xl font-bold mb-0">
                                <a href="#">Arnold Schwarzenegger</a>
                                <span title="Usuario Validado">
                                <i class="icon-check-circle text-sm text-secondary"></i>
                            </span>
                            </h3>
                            <div>
                                <h4 class="text-lg mb-0">
                                    <span>King of the world</span>
                                </h4>
                            </div>
                            <a href="#">
                            <span class="mt-0 text-neutral">
                                <span class="opinion-numeral font-weight-normal">15 opiniones</span>
                            </span>
                            </a>
                        </div>
                    </div>
                    <div class="my-2">
                        <div class="flex align-middle">
                            <div class="mr-1 py-0">
                                <i class="icon-magnet text-sm text-secondary"></i>
                            </div>
                            <div class="m-0">Magnetismo</div>
                        </div>
                        <div class="flex align-middle">
                            <div class="mr-1 py-0">
                                <i class="icon-lightbulb text-sm text-secondary"></i>
                            </div>
                            <div class="m-0">Electricidad</div>
                        </div>
                        <div class="flex align-middle">
                            <div class="mr-1 py-0">
                                <i class="icon-car text-sm text-secondary"></i>
                            </div>
                            <div class="m-0">Manejo</div>
                        </div>
                    </div>
                </div>
                <div class="place-content-center">
                    <div class="card-title place-content-center">Horarios</div>
                    <div class="text-base flex mt-4 font-mono">
                        <div id="d021" class="grow">
                            <div class="mb-4">Hoy</div>
                            <ul>
                                <li>09:00</li>
                                <li>10:00</li>
                                <li>11:00</li>
                                <li>12:00</li>
                                <li>13:00</li>
                                <li>14:00</li>
                                <li>15:00</li>
                                <li>16:00</li>
                                <li>17:00</li>
                                <li>18:00</li>
                            </ul>
                        </div>
                        <div id="d022" class="grow">
                            <div class="mb-4">Mañana</div>
                            <ul class="">
                                <li>09:00</li>
                                <li>10:00</li>
                                <li>11:00</li>
                                <li>12:00</li>
                                <li>13:00</li>
                                <li>14:00</li>
                                <li>15:00</li>
                                <li>16:00</li>
                                <li>17:00</li>
                                <li>18:00</li>
                            </ul>
                        </div>
                        <div id="d023" class="grow">
                            <div class="mb-4">DD+2</div>
                            <ul class="">
                                <li>09:00</li>
                                <li>10:00</li>
                                <li>11:00</li>
                                <li>12:00</li>
                                <li>13:00</li>
                                <li>14:00</li>
                                <li>15:00</li>
                                <li>16:00</li>
                                <li>17:00</li>
                                <li>18:00</li>
                            </ul>
                        </div>
                        <div id="d024" class="grow">
                            <div class="mb-4">DD+3</div>
                            <ul class="">
                                <li>09:00</li>
                                <li>10:00</li>
                                <li>11:00</li>
                                <li>12:00</li>
                                <li>13:00</li>
                                <li>14:00</li>
                                <li>15:00</li>
                                <li>16:00</li>
                                <li>17:00</li>
                                <li>18:00</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 lg:py-10 container items-center" id="tutor_card_003">
    <div class="card mb-1 shadow-sm bg-primary-content/10 w-full">
        <div class="card-body">
            <div class="grid grid-flow-row-dense md:grid-cols-2">
                <div class="col-span-1">
                    <div class="flex">
                        <div class="avatar mr-4">
                            <div class="w-24 h-24 rounded-full">
                                <a href="#">
                                    <img alt="populate_about_me" src="~/images/browser.png">
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="badge badge-secondary m-0">Nuevo</div>
                            <h3 class="text-xl font-bold mb-0">
                                <a href="#">Arnold Schwarzenegger</a>
                                <span title="Usuario Validado">
                                <i class="icon-check-circle text-sm text-secondary"></i>
                            </span>
                            </h3>
                            <div>
                                <h4 class="text-lg mb-0">
                                    <span>King of the world</span>
                                </h4>
                            </div>
                            <a href="#">
                            <span class="mt-0 text-neutral">
                                <span class="opinion-numeral font-weight-normal">15 opiniones</span>
                            </span>
                            </a>
                        </div>
                    </div>
                    <div class="my-2">
                        <div class="flex align-middle">
                            <div class="mr-1 py-0">
                                <i class="icon-magnet text-sm text-secondary"></i>
                            </div>
                            <div class="m-0">Magnetismo</div>
                        </div>
                        <div class="flex align-middle">
                            <div class="mr-1 py-0">
                                <i class="icon-lightbulb text-sm text-secondary"></i>
                            </div>
                            <div class="m-0">Electricidad</div>
                        </div>
                        <div class="flex align-middle">
                            <div class="mr-1 py-0">
                                <i class="icon-car text-sm text-secondary"></i>
                            </div>
                            <div class="m-0">Manejo</div>
                        </div>
                    </div>
                </div>
                <div class="place-content-center">
                    <div class="card-title place-content-center">Horarios</div>
                    <div class="text-base flex mt-4 font-mono">
                        <div id="d031" class="grow">
                            <div class="mb-4">Hoy</div>
                            <ul>
                                <li>09:00</li>
                                <li>10:00</li>
                                <li>11:00</li>
                                <li>12:00</li>
                                <li>13:00</li>
                                <li>14:00</li>
                                <li>15:00</li>
                                <li>16:00</li>
                                <li>17:00</li>
                                <li>18:00</li>
                            </ul>
                        </div>
                        <div id="d032" class="grow">
                            <div class="mb-4">Mañana</div>
                            <ul class="">
                                <li>09:00</li>
                                <li>10:00</li>
                                <li>11:00</li>
                                <li>12:00</li>
                                <li>13:00</li>
                                <li>14:00</li>
                                <li>15:00</li>
                                <li>16:00</li>
                                <li>17:00</li>
                                <li>18:00</li>
                            </ul>
                        </div>
                        <div id="d033" class="grow">
                            <div class="mb-4">DD+2</div>
                            <ul class="">
                                <li>09:00</li>
                                <li>10:00</li>
                                <li>11:00</li>
                                <li>12:00</li>
                                <li>13:00</li>
                                <li>14:00</li>
                                <li>15:00</li>
                                <li>16:00</li>
                                <li>17:00</li>
                                <li>18:00</li>
                            </ul>
                        </div>
                        <div id="d034" class="grow">
                            <div class="mb-4">DD+3</div>
                            <ul class="">
                                <li>09:00</li>
                                <li>10:00</li>
                                <li>11:00</li>
                                <li>12:00</li>
                                <li>13:00</li>
                                <li>14:00</li>
                                <li>15:00</li>
                                <li>16:00</li>
                                <li>17:00</li>
                                <li>18:00</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
