@model LoginViewModel
<dialog id="login_modal" class="modal">
    <div class="modal-box md:max-w-sm max-w-xs">
        <form hx-post="@Url.Action("Login", "Login")" hx-swap="none">
            <div class="text-center">
                <h3 class="font-semibold text-xl">Iniciar Sesión</h3>
            </div>
            <div>
                <div class="form-control mt-6">
                    <label class="label" asp-for="Email">
                        <span class="label-text  font-medium">Correo</span>
                    </label>
                    <input asp-for="Email" type="email" required="required"
                        autocomplete="email"
                        class="input join-item input-bordered w-full input-sm"
                        placeholder="name@daisyui.com"/>
                </div>
                <div class="form-control mt-2">
                    <label class="label" asp-for="Password">
                        <span class="label-text font-medium">Contraseña</span>
                    </label>
                    <input asp-for="Password" type="password" required="required"
                           autocomplete="current-password"
                           class="input join-item input-bordered w-full input-sm"
                           placeholder="Pa$$w0rd"/>
                    <div class="label">
                        <span class="label-text-alt"></span>
                        <span class="label-text-alt"><a href="#" class="text-base-content/80">¿Recuperar Contraseña?</a></span>
                    </div>
                </div>
                <div class="flex items-center justify-end mt-3 gap-3">
                    <button class="btn btn-sm btn-primary" type="submit">
                        Iniciar Sesión
                    </button>
                </div>
                <div class="flex items-center gap-3 mt-6">
                    <hr class="border-base-content/5 grow"/>
                    <span class="text-base-content/70">Iniciar sesión con:</span>
                    <hr class="border-base-content/5 grow"/>
                </div>
                <div class="flex mt-6 gap-4">
                    <button class="btn block btn-sm grow" disabled="disabled">
                        Google
                    </button>
                    <button class="btn block btn-sm grow btn-neutral" disabled="disabled">
                        Github
                    </button>
                </div>
            </div>
        </form>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>x</button>
    </form>
</dialog>
