@model SweaterModel

@{
    ViewData["Title"] = "Eliminar Sweater";
}
<link rel="stylesheet" href="~/css/borrar.css">

<div class="container-borrar">
    <div class="mac">
        <img src="~/imgadmin/red.svg" alt="">
        <img src="~/imgadmin/orange.svg" alt="">
        <img src="~/imgadmin/green.svg" alt="">
    </div>

    <div class="content-borrar">
        <h1>¿Estás seguro de que deseas borrar el sweater <strong>@Model.Name</strong>?</h1>
        <p>Esta acción no se puede deshacer.</p>
    </div>

    <form asp-controller="Sweater" asp-action="SweatersDeleted">
        <input type="hidden" asp-for="Id" />

        <button type="submit" class="boton boton-rojo">Borrar</button>
        <a class="boton" asp-controller="Sweater" asp-action="SweatersList">Cancelar</a>
    </form>
</div>
